# env
**/*.env
**/*.env.production

# git
.git/

# monkey-c
**/Config.mc
**/bin/

# node
**/node_modules

# python
**/.venv/
**/__pycache__/
**/.pdm-build/
**/.ruff_cache/
**/.pdm-python

# rust
**/target/

# cloudeflare
**/.wrangler/
**/.dev.vars

# tool
**/repomix.config.json
**/repomix-output.xml